flows.json
[{"id":"19534d59.4a9cf3","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3a90bb01.f08424","type":"ibmiot in","z":"19534d59.4a9cf3","authentication":"apiKey","apiKey":"685fb421.1c37cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":140,"wires":[["912a15d1.25d178","e4c0db80.d3a488"]]},{"id":"912a15d1.25d178","type":"debug","z":"19534d59.4a9cf3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":80,"wires":[]},{"id":"e4c0db80.d3a488","type":"function","z":"19534d59.4a9cf3","name":"pre-token","func":"global.set (\"Age\", msg.payload.Age);\nglobal.set (\"Temperature\", msg.payload.Temperature);\nglobal.set (\"Systolic\", msg.payload.Systolic);\nglobal.set (\"Diastolic\", msg.payload.Diastolic);\nglobal.set (\"Pulse\", msg.payload.Pulse);\nvar apikey=\"toYsmMtqVUKV7Kg5CU83UVP2k6kZHxFZbVbqUaVX-Ogl\";\nmsg.headers= {\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload= {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["2ae98ebf.abd092"]]},{"id":"2ae98ebf.abd092","type":"http request","z":"19534d59.4a9cf3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":160,"wires":[["27d468ab.3232f8"]]},{"id":"27d468ab.3232f8","type":"function","z":"19534d59.4a9cf3","name":"pre-prediction","func":"var Age = global.get('Age')\nvar Temperature = global.get('Temperature')\nvar Systolic = global.get('Systolic')\nvar Diastolic = global.get('Diastolic')\nvar Pulse = global.get('Pulse')\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"],\n\"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":160,"wires":[["601bdfa0.d81be"]]},{"id":"601bdfa0.d81be","type":"http request","z":"19534d59.4a9cf3","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/d3554687-1453-4217-91f7-d989d97a104c/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":280,"wires":[["9b1f5c39.bacdc"]]},{"id":"9b1f5c39.bacdc","type":"function","z":"19534d59.4a9cf3","name":"prediction","func":"var Age = global.get ('Age');\nvar Temperature = global.get ('Temperature');\nvar Systolic = global.get ('Systolic');\nvar Diastolic = global.get ('Diastolic');\nvar Pulse = global.get ('Pulse');\nvar output=msg.payload.predictions[0].values[0][0];\nglobal.set(\"ouptut\",output);\nmsg.payload = {\n details: {\n health: {\n age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":280,"wires":[["c410cee9.704f3"]]},{"id":"c410cee9.704f3","type":"ui_template","z":"19534d59.4a9cf3","group":"14fad08e.ab854f","name":"","order":0,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n <span flex>Age</span>\n <span flex>temp</span>\n <span flex>sys</span>\n <span flex>dail</span>\n <span flex>pulse</span>\n <span flex>Status</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n <span flex style=\"color: green\">{{health.age}} </span>\n <span flex style=\"color: red\"> {{health.temperature}} </span>\n <span flex style=\"color: blue\"> {{health.systolic}} </span>\n <span flex style=\"color: red\"> {{health.diastloic}} </span>\n <span flex style=\"color: black\"> {{health.pulse}} </span>\n <span flex style=\"color: Brown\"> {{health.output}} </span>\n </div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":900,"y":280,"wires":[[]]},{"id":"685fb421.1c37cc","type":"ibmiot","z":"","name":"newAPI","keepalive":"60","serverName":"6cyeml.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"14fad08e.ab854f","type":"ui_group","z":"","name":"Health Status","tab":"733bfb9e.c79ee4","order":1,"disp":true,"width":"6","collapse":false},{"id":"733bfb9e.c79ee4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]